body,
.animated-background {
    background: linear-gradient(
        to right,#fcb045,
        #fd1, #c8f54f);
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }

}

footer {
    width: 70%;
    margin-left: 15%;
}
.underline-one {
	color: #00bfff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
    -webkit-text-shadow: 8px -8px 5px rgba(0, 0, 0, 0.31);
    -moz-text-shadow: 8px -8px 5px rgba(0, 0, 0, 0.31);
    text-shadow: 8px -8px 5px rgba(0, 0, 0, 0.31);
}
.underline-one:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.7s; /* Время эффекта */
}

.underline-one:hover:after {
	content: "";
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: red; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.7s;  /* Время эффекта */
}
.underline-one:hover {
    text-decoration: none;
}
.text-shadow {
    -webkit-text-shadow: 8px -8px 5px rgba(0, 0, 0, 0.31);
    -moz-text-shadow: 8px -8px 5px rgba(0, 0, 0, 0.31);
    text-shadow: 8px -8px 5px rgba(0, 0, 0, 0.31);
}

