{% extends 'blog/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block page_header %}
    <style>
    .h2  {
        text-align: center;
    }
    </style>
  <h2 class="h2 mb-3 fw-normal">Please sign in</h2>
{% endblock page_header %}

{% block content %}
      <style>
      @media(min-width: 1280px) {
          .form-control-feedback {
              position: relative;
              left: 260px;
              float: left;
              margin: 0 0 10px 200px;

          }

          .text {
              position: relative;
              left:0;
              top: 5px;
          }
      }
      @media(min-width: 320px) {
          .text {
              text-align: center;

          }

      }
    </style>

<form method="post" action="{% url 'users:login' %}" class="form-control-feedback">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me</label>
    </div>
    {% buttons %}
    <button class="btn btn-primary" type="submit">Sign in</button>
        <input type="hidden" name="next" value="{% url 'blog:post_index' %}" />
        <a class="btn btn-primary" href="{% url 'users:registration' %}"
                                role="button">Sign up</a>
        <h5 class="text"><hr></h5>
    {% endbuttons %}
  </form>
    <style>
    @media(min-width: 1280px) {
        .social li {
            position: relative;
            top: 290px;
            right: 200px;

        }
        .fa-google {
            position: relative;
            left: 5px;
            top: 0;
            border: 2px solid black ;
            border-radius: 5px;
            background: cornflowerblue;

        }
        .fa {
            padding: 10px;
            font-size: 15px;
            text-align: center;
            text-decoration: none;
            width: 205px;
        }
        .fa-google:active {
            background-color: #dd4b39;
        }
        .fa:hover {
            opacity: 1.4;
        }
        .social li a {
            color: #fff;
        }

    }
    @media(min-width: 320px) {
        .fa {
            padding: 5px;
            font-size: 15px;
            text-align: center;
            text-decoration: none;
        }
        .fa-google {
            position: relative;
            right: -90px;
            bottom: 75px;
            border: 2px solid black;
            border-radius: 5px;
            background: cornflowerblue;

        }
        .fa-google:active {
            background-color: #dd4b39;
        }
        .social li a {
            color: #fff;
        }
        .fa:hover {
            opacity: 1.4;
        }

    }
    </style>
        <div class="social">
        <ul class="nav justify-content-center pb-3 mb-3">
            <li><a class="btn fa fa-google" href="{% url "social:begin" "google-oauth2" %}">
                <img src="{% static 'images/google.png' %}" alt="" width="32" height="32">
            Sign in Google</a></li>
        </ul>
    </div>
{% endblock content %}