{% extends 'blog/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block page_header %}
    <style>
     h4, p{
         margin: 0 0 0 10px;
    }
     @media(min-width: 1280px) {
         .account-img {
             height: 150px;
             width: 150px;
             margin-right: 20px;
             margin-bottom: 16px;
         }

         .content-section1 {
             padding: 30px 250px;
             border: 1px solid wheat;
             border-radius: 5px;
             margin-bottom: 20px
         }

         .mobile {
             position: relative;
             top: 25px;
             left: 0;
         }
         .account-heading {
             font-size: 2.5rem;
             position: relative;
             bottom: 5px;
         }

         .top-menu, .top-menu:hover, .top-menu:visited {
             font-size: 12pt;
             margin: 0 0 0 -55px;
         }
         .email {
             position: relative;
             right: 200px;
         }
         .gear {
             position: relative;
             top: 0;

         }
     }
     @media(min-width: 320px) {
         .account-img {
             height: 25%;
             width: 25%;

         }
         .email {
             position: relative;
             top: 40px;
             right: 140px;
         }
         .gear {
             position: relative;
             bottom: 40px;
             left: 80px;
         }

     }
     @media(max-width: 320px) {
         .email {
             position: relative;
             right: 100px;
         }

     }

    </style>
    <h2>Profile</h2>
    <div class="content-section1">
    <div class="mobile">
      <div class="media">
        <img class="rounded-circle account-img img-responsive thumbnail" src="{{ user.profile.get_photo_url }}" alt="img">
    <h4 class="account-heading"><em>{{ user.username }}</em>
          <a class="btn btn-secondary top-menu gear" type="submit" href="{% url 'users:edit_profile' %}">
              <img src="{% static 'images/settings.png' %}" alt="" width="32" height="32" class="fa-gear">
          </a></h4>
    <p class="text-secondary email">{{ user.email }}</p>
{% endblock page_header %}

{% block content %}
    <div class="media-body">
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        {% bootstrap_form profile_form %}
    </form>
    </div>
    </div>
      </div>
    </div>
{% endblock content %}